doctype html
html
  head
    title= title
    - var prod = !NODE_ENV_DEV
    - var pathFiles =  "http://localhost:3001/dev";
    if prod
      link(rel='stylesheet', href='/stylesheets/style.css')
    else
      link(rel='stylesheet', href= pathFiles + '/stylesheets/front/front-styles.css')
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    )
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
  footer
    block footer
    if prod
      script(src='/javascripts/main.js')
    else
      script(src=pathFiles + '/javascripts/main.js')

